{% extends 'base.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <div class="">
        <h1 class="text-4xl text-center text-text">
            Recent posts
        </h1>
        <div class="flex">
            <ul class="mx-auto">
                {% for blogPost in blog_posts %}
                    <li class="m-2 p-2">
                        {% include 'blog/blog_post.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
