{% extends 'base.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <div class="">
        <div class="flex justify-start mx-20 my-2">
            <h1 class="text-4xl text-text">
                My Blog
            </h1>
            <a class="my-auto mx-4 rounded py-2 px-4 bg-button text-button-text" href="{{ path('blogCreate') }}">Create
                Post</a>
        </div>
        <div class="flex flex-wrap justify-center">
                {% for blogPost in blog_posts %}
                        {{ component('blog_post', { blogPost: blogPost, enableEdit:true, enableDelete: true }) }}
                {% endfor %}
        </div>
    </div>

{% endblock %}
