{% extends 'base.html.twig' %}
{% block body %}
    <div class="mt-48">
        <div class="m-auto text-center animate animate-pulse">
            <h3 class="text-headline my-2 text-4xl font-bold py-2">Landing Page</h3>
            <a href="{{ path('blogs') }}"
               class="rounded py-2 px-5 bg-button text-button-text">Browse Blogs</a>
        </div>
    </div>
{% endblock %}