{% extends './user/base.html.twig' %}

{% block body %}
    <div class="container flex justify-center mx-auto m-4 shadow-md">
            <h1 class="text-4xl font-bold py-2">Log in</h1>
    </div>
{% endblock %}